{% extends 'allauth/layouts/base.html' %}
{% load i18n %}
{% load account %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="Confirm Email | NoticeThat">
  <style type="text/css">
    .ui.header.m-mtb2 { margin: 2em auto; }
    .ui.message.m-mtb2 { margin: 2em auto; }
  </style>
{% endblock %}

{% block title %}{% trans "Confirm Email Address" %} -{% endblock %}

{% block content %}
  <h1>{% trans "Confirm Your Email Address" %}</h1>

  {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    {% if can_confirm %}
      <p class="ui center aligned header m-mtb2">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>

      <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button type="submit" class="ui fluid large m-primary button">{% trans 'Confirm' %}</button>
      </form>
    {% else %}
      <p class="ui center aligned header m-mtb2">{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
    {% endif %}

  {% else %}
    <div class="ui large warning message m-mtb2">
      <div class="header">{% trans "Invalid Link" %}</div>
      <p>{% blocktrans %}This email confirmation link has expired or is invalid. Please <a>issue a new email confirmation request</a>.{% endblocktrans %}</p>
    </div>
  {% endif %}
{% endblock %}

{% block extra_body %}{% endblock %}