{% extends 'allauth/layouts/base.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="Log in | NoticeThat">
  <style type="text/css">
    .ui.segment.m-pd3 { padding: 3em; }
    .ui.header.m-mb1 { margin-bottom: 1em; }
    .m-w90 { width: 90px; }
  </style>
{% endblock %}

{% block title %}{% trans "Log In" %} -{% endblock %}

{% block content %}
  <div class="ui segment m-pd3">
    <img src="{% static 'images/favicon.png' %}" class="ui centered image m-w90">
    <h1 class="ui centered header m-mb1">{% trans "Welcome back!" %}</h1>

    <form method="post" action="{% url 'account_login' %}" class="ui large form {% if form.errors %}error{% endif %}" novalidate>
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <div class="ui error message">
          {{ error }}
        </div>
      {% endfor %}

      <!-- 'login' Field (Username or Email) -->
      <div class="field {% if form.login.errors %}error{% endif %}">
        <div class="ui left icon input"><i class="user icon"></i>{{ form.login }}</div>
        {% for error in form.login.errors %}
          <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
        {% endfor %}
      </div>

      <!-- Password Field -->
      <div class="field {% if form.password.errors %}error{% endif %}">
        <div class="ui left icon input"><i class="lock icon"></i>{{ form.password }}</div>
        {% for error in form.password.errors %}
          <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="field">
          <div class="ui checkbox">
              {{ form.remember }}
              <label for="{{ form.remember.id_for_label }}">{% trans "Remember Me" %}</label>
          </div>
      </div>

      <button type="submit" class="ui fluid large m-primary button">{% trans "Log In" %}</button>
      <div class="ui divider"></div>
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <p>Don't have an account? <a href="{% url 'account_signup' %}">{% trans "Sign up here" %}</a></p>
    </form>
  </div>
{% endblock %}

{% block extra_body %}{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% render_bundle 'login' 'js' %}
{% endblock %}