{% extends 'allauth/layouts/base.html' %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset Sent" %} -{% endblock %}

{% block head %}
	{{ block.super }}
	<style type="text/css">
		.ui.message.m-mtb2 { margin: 2em auto; }
		m-fs16 { font-size: 16px }
	</style>
{% endblock %}

{% block content %}
	<h1>{% trans "Password Reset Sent" %}</h1>
	{% if user.is_authenticated %}
		{% user_display user as user_display %}
		<p class="m-fs16">
			<strong>{% blocktranslate %}Note{% endblocktranslate %}:</strong> {% blocktranslate %}You are already logged in as {{ user_display }}.{% endblocktranslate %}
		</p>
	{% endif %}
	<p class="ui large info message m-mtb2">
		{% blocktrans %}We have sent you an email. {% endblocktrans %}
		{% blocktrans %}If you have not received it please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
	</p>
	<a href="{% url 'problems:home' %}" class="ui m-primary button">{% trans "Return to Homepage" %}</a>
{% endblock %}

{% block extra_body %}{% endblock %}