{% extends 'layouts/1.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset Sent" %} -{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">.grid .column { max-width: 600px; }</style>
{% endblock %}

{% block content %}
<div class="ui middle aligned centered grid">
	<div class="column">
		<h1>{% trans "Password Reset Sent" %}</h1>
		<p class="ui info message">
			{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
		</p>
		<a href="{% url 'problems:home' %}" class="ui button">{% trans "Return to Homepage" %}</a>
	</div>
</div>
{% endblock %}