{% extends 'layouts/2.html' %}
{% load i18n %}

{% block title %}{% trans "Password Changed" %} -{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">.grid .column { max-width: 600px; }</style>
{% endblock %}

{% block content %}
<div class="ui middle aligned centered grid">
	<div class="column">
		<h1>{% trans "Password Changed" %}</h1>
		<p class="ui success message">
			{% trans "Your password has been changed successfully." %}
		</p>
		<a href="{% url 'account_login' %}" class="ui m-primary button">{% trans "Log In" %}</a>
	</div>
</div>
{% endblock %}