{% extends 'layouts/1.html' %}
{% load i18n %}

{% block title %}{% trans "Password Changed" %} -{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">
		.grid .m-form { max-width: 500px; margin: 0 auto; }
		.ui.message.m-mtb2 { margin: 2em auto; }
	</style>
{% endblock %}

{% block content %}
<div class="ui container m-padded-tb-big">
	<div class="ui grid">
		<div class="column m-form">
			<h1>{% trans "Password Changed" %}</h1>
			<p class="ui large success message m-mtb2">
				{% trans "Your password has been changed successfully." %}
			</p>
			<a href="{% url 'account_login' %}" class="ui fluid large m-primary button">{% trans "Log In" %}</a>
		</div>
	</div>
</div>
{% endblock %}