{% extends 'layouts/1.html' %}
{% load i18n %}

{% block title %}{% trans "Change Password" %} -{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css">.grid .column { max-width: 600px; }</style>
{% endblock %}

{% block content %}
<div class="ui middle aligned centered grid">
	<div class="column">
		<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

		{% if token_fail %}
			<p class="ui error message">
				{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a new password reset.{% endblocktrans %}
			</p>
			<a href="{% url 'account_reset_password' %}" class="ui button">{% trans "Request a New Password Reset" %}</a>
		{% else %}
			<form method="post" action="{{ action_url }}" class="ui large form {% if form.errors %}error{% endif %}">
				{% csrf_token %}

				{% for error in form.non_field_errors %}
					<div class="ui error message">{{ error }}</div>
				{% endfor %}

				<!-- Password Field -->
				<div class="field {% if form.password.errors %}error{% endif %}">
						<label for="{{ form.password.id_for_label }}">{% trans "New Password" %}</label>
						{{ form.password }}
						{% for error in form.password.errors %}
							<div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
						{% endfor %}
				</div>
				
				<!-- Confirm Password Field -->
				<div class="field {% if form.password2.errors %}error{% endif %}">
						<label for="{{ form.password2.id_for_label }}">{% trans "Confirm New Password" %}</label>
						{{ form.password2 }}
						{% for error in form.password2.errors %}
							<div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
						{% endfor %}
				</div>

				<button type="submit" class="ui m-primary button">{% trans "Change Password" %}</button>
			</form>
		{% endif %}
	</div>
</div>
{% endblock %}