{% extends 'allauth/layouts/base.html' %}
{% load i18n %}

{% block head %}
	{{ block.super }}
	<meta name="title" content="Set New Password | NoticeThat">
	<style type="text/css">
    	.ui.segment.m-pd3 { padding: 3em; }
		.ui.header.m-mtb1 { margin: 1em auto; }
		.ui.message.m-mtb2 { margin: 2em auto; }
	</style>
{% endblock %}

{% block title %}{% trans "Set New Password" %} -{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
	{% if token_fail %}
		<h1 class="ui huge header">{% trans "Invalid Link" %}</h1>
		<div class="ui large error message m-mtb2">
			<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
		</div>
		<a href="{% url 'account_reset_password' %}" class="ui fluid large m-primary button">{% trans "Request a New Link" %}</a>

	{% else %}
		<div class="ui segment m-pd3">
			<h1 class="ui huge centered header m-mtb1">{% trans "Choose a New Password" %}</h1>

			<form method="post" action="." class="ui large form {% if form.errors %}error{% endif %}" novalidate>
				{% csrf_token %}
				{% for error in form.non_field_errors %}
					<div class="ui error message">{{ error }}</div>
				{% endfor %}

				<!-- New Password Field -->
				<div class="field {% if form.password1.errors %}error{% endif %}">
					<div class="ui left icon input"><i class="lock icon"></i>{{ form.password1 }}</div>
					{% for error in form.password1.errors %}<div class="ui basic red pointing prompt label transition visible">{{ error }}</div>{% endfor %}
				</div>

				<!-- Confirm New Password Field -->
				<div class="field {% if form.password2.errors %}error{% endif %}">
					<div class="ui left icon input"><i class="lock icon"></i>{{ form.password2 }}</div>
					{% for error in form.password2.errors %}<div class="ui basic red pointing prompt label transition visible">{{ error }}</div>{% endfor %}
				</div>
				
				<button type="submit" class="ui fluid large m-primary button">{% trans "Change Password" %}</button>
				<br>
			</form>
		</div>
	{% endif %}
{% endblock %}

{% block extra_body %}{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'js/password_reset_from_key.bundle.js' %}"></script>
{% endblock %}