{% extends 'layouts/2.html' %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %} -{% endblock %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="Sign up | NoticeThat" />
  <style type="text/css">
    .grid .m-form { max-width: 500px; margin: 0 auto;}
    .ui.segment.m-pd3 { padding: 3em; }
    .ui.header.m-mt0-5 { margin-top: 0.5em; }
    .ui.header.m-mb1 { margin-bottom: 1em; }
  </style>
{% endblock %}

{% block content %}
<div class="ui container m-padded-tb-big">
  <div class="ui grid">
    <div class="column m-form">
      {% include 'account/partials/messages.html' %}

      <div class="ui segment m-pd3">
        <h1 class="ui huge centered header m-mt0-5 m-mb1">{% trans "Create a " %}<strong>NoticeThat</strong>{% trans " account" %}</h1>

        <form method="post" action="{% url 'account_signup' %}" class="ui large form {% if form.errors %}error{% endif %}" novalidate>
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="ui error message">{{ error }}</div>
            {% endfor %}

            <!-- Username Field -->
            <div class="field {% if form.username.errors %}error{% endif %}">
              <div class="ui left icon input"><i class="user circle icon"></i>{{ form.username }}</div>
              {% for error in form.username.errors %}
                <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Email Field -->
            <div class="field {% if form.email.errors %}error{% endif %}">
              <div class="ui left icon input"><i class="mail icon"></i>{{ form.email }}</div>
              {% for error in form.email.errors %}
                <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Password Field -->
            <div class="field {% if form.password1.errors %}error{% endif %}">
              <div class="ui left icon input"><i class="lock icon"></i>{{ form.password1 }}</div>
              {% for error in form.password1.errors %}
                <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Confirm Password Field -->
            <div class="field {% if form.password2.errors %}error{% endif %}">
              <div class="ui left icon input"><i class="lock icon"></i>{{ form.password2 }}</div>
              {% for error in form.password2.errors %}
                <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
              {% endfor %}
            </div>

            <button type="submit" class="ui fluid large m-primary button">{% trans "Sign Up" %}</button>
            <div class="ui divider"></div>
            <p>Already have an account? <a href="{% url 'account_login' %}">{% trans "Log in here" %}</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}