{% extends 'layouts/2.html' %}
{% load i18n %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="Verification Sent | NoticeThat">
  <style type="text/css">
    .grid .m-form { max-width: 500px; margin: 0 auto; }
    .ui.message.m-mtb2 { margin: 2em auto; }
  </style>
{% endblock %}

{% block title %}{% trans "Verification Sent" %} -{% endblock %}

{% block content %}
<div class="ui container m-padded-tb-big">
  <div class="ui grid">
    <div class="column m-form">
      <h1>{% trans "Check Your Inbox" %}</h1>

      <div class="ui large info message m-mtb2">
        <div class="header">
          {% trans "Verification Email Sent" %}
        </div>
        <p>{% blocktrans %}We have sent a confirmation email to you. Please check your inbox and click the link to verify your email address. 
          If you do not see the verification email in your main inbox, check your spam folder.{% endblocktrans %}</p>
      </div>
      
      <a href="{% url 'problems:home' %}" class="ui fluid large m-primary button">{% trans "Back to Home" %}</a>
    </div>
  </div>
</div>
{% endblock %}