{% extends 'base.html' %}

{% block head %}
{{ block.super }}
<script>
    $(document)
      .ready(function() {
  
        // fix menu when passed
        $('.masthead')
          .visibility({
            once: false,
            onBottomPassed: function() {
              $('.fixed.menu').transition('fade in');
            },
            onBottomPassedReverse: function() {
              $('.fixed.menu').transition('fade out');
            }
          })
        ;
  
        // create sidebar and attach to menu open
        $('.ui.sidebar')
          .sidebar('attach events', '.toc.item')
        ;
  
      })
    ;
</script>
{% endblock %}

{% block layout %}
<body class="pushable">

    {% include 'components/sidebar.html' %}    

    <div class="pusher">

        {% include 'components/header_min.html' %}

        {% block content %}{% endblock %}

        <br>
        {% include 'components/footer_min.html' %}

    </div>

</body>
{% endblock %}