{% extends 'base.html' %}

{% block head %}
{{ block.super }}
<script>
    $(document).ready(function() {
        // create sidebar and attach to menu open
        $('.ui.sidebar').sidebar('attach events', '.toc.item');
    })
</script>
{% endblock %}

{% block layout %}
<body class="pushable">

    {% include 'components/sidebar.html' %}    

    <div class="pusher">

        {% include 'components/header_min.html' %}

        {% block auth_content %}{% endblock auth_content %}

        <br>
        {% include 'components/footer_min.html' %}

    </div>

</body>
{% endblock %}