{% extends 'layouts/1.html' %}
{% load render_bundle from webpack_loader %}

<meta name="title" content="{{ problem.title|safe }} | NoticeThat">
{% block title %}{{ problem.title }} - {% endblock %}
{% block og-title %}{{ problem.title|safe }}{% endblock %}
{% block og-description %}{{ problem.content|striptags|truncatechars:200 }}{% endblock %}
{% if problem.image %}
  {% block og-image %}{{ problem.image }}{% endblock %}
  {% block tw-image %}{{ problem.image }}{% endblock %}
{% endif %}

{% block head %}
  {{ block.super }}
  {% render_bundle 'math_render' 'css' %}
  {% if user.is_authenticated %}
    {% render_bundle 'comment_form' 'css' %}
  {% endif %}
	<style>
    .m-maxw { max-width: none !important; }
		#editor-wrapper { border: 1px solid #ccc; }
		#toolbar-container { border-bottom: 1px solid #ccc; }
		#editor-container { height: 300px; }
    #preview-container { border: 1px solid #ccc; margin-top: 0; padding: 10px; display: none; }
	</style>
{% endblock %}

{% block content %}
<div class="ui vertical grid m-mtb-medium">
  <div class="ui container m-container">
    {% if problem.scheduled_post_at and problem.scheduled_post_at > now %}
      <div class="ui yellow message">
          This problem is scheduled to be posted on {{ problem.scheduled_post_at }}.
      </div>
    {% endif %}
    <div class="ui top attached segment" style="line-height: 0">
      <h2 class="m-mobile-title">{{ problem.title }}</h2>
      <div class="item">{{ problem.scheduled_post_at|date:"F j, Y" }}</div>
    </div>
    <div class="ui attached segment m-pd-lr" id="problem-img-segment">
      {% if problem.image %}
        <img src="{{ problem.image.url }}" class="ui centered rounded image" onerror="this.onerror=null;this.src='{% static 'images/default_problem_image.png' %}';">
      {% else %}
        <img src="{% static 'images/default_problem_image.png' %}" class="ui centered rounded image">
      {% endif %}
    </div>
    {% if problem.content %}
      <div class="ui attached segment m-pd-tb-medium m-pd-lr">
        <div class="m-medium-text" id="problem-content-segment">{{ problem.content|safe }}</div>
      </div>
    {% endif %}
    <div class="ui bottom attached segment m-pd-tb-medium m-pd-lr">
      {% if user.is_authenticated %}
        <form class="ui reply form {% if comment_form.content.errors %}error{% endif %}" method="post" id="comment-form" novalidate>
          {% csrf_token %}
          <div class="field {% if comment_form.content.errors %}error{% endif %}">
            <div id="editor-wrapper">
              <div id="toolbar-container"><!-- toolbar --></div>
              <div id="editor-container" ><!-- editor --></div>
            </div>
            {{ comment_form.content }}
            {% for error in comment_form.content.errors %}
              <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
            {% endfor %}
            <div id="preview-container"></div>
          </div>
          <div class="ui right aligned fluid container">
            <button id="preview-btn" class="ui button" type="button"><i class="eye icon"></i> Preview</button>
            <button class="ui m-primary submit labeled icon button" type="submit">
              <i class="m-primary icon edit"></i> Send
            </button>
          </div>
        </form>
      {% else %}
        <div class="ui icon warning message">
          <div class="content m-pd-tb-tiny">
            <div class="header">Please log in to submit your response.</div>
            <p><a href="{% url 'account_login' %}">Log in</a> or <a href="{% url 'account_signup' %}">sign up</a> to participate in the discussion.</p>
          </div>
        </div>
      {% endif %}
      
      {% if user_has_commented or request.user.is_staff %}
        <h3 class="ui dividing header">Discussion ({{ total_comments }})</h3>
        <div class="ui comments m-maxw">
          {% if pinned_comment and show_solution %}
            {% with comment=pinned_comment comment_id_str=pinned_comment.id|stringformat:"s" is_pinned=True %}
              {% include "components/comment.html" %}
            {% endwith %}
          {% endif %}
          
          {% for comment in comments reversed %}
            {% with comment=comment comment_id_str=comment.id|stringformat:"s" is_pinned=False %}
              {% include "components/comment.html" %}
            {% endwith %}
          {% endfor %}
        </div>

      {% else %}
        <div class="ui icon info message">
					<div class="content m-pd-tb-tiny">
						<div class="header">
							Can't view the discussion?
            </div>
            You can enter the discussion after submitting your response.
          </div>
					<i class="icon help"></i>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div id="simple-lightbox" class="lightbox">
  <img id="lightbox-img" class="lightbox-content" src="">
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% render_bundle 'math_render' 'js' %}
  {% if user.is_authenticated %}
    {% render_bundle 'comment_form' 'js' %}
    {% render_bundle 'comment' 'js' %}
  {% endif %}
  {% render_bundle 'lightbox' 'js' %}
{% endblock %}