{% extends 'base.html' %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block title %}About{% endblock %}

{% block content %}
{{ block.super }}
<!-- Page Contents -->
<div class="ui vertical grid m-padded-tb-big">
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="eight wide column">
        <div class="ui top attached segment">
          <div class="ui header">Our Mission</div>
        </div>
        <div class="ui bottom attached segment">
          <p class="m-text" style="text-indent: 25px">
            We strive to spread the beauty of mathematics. We believe that
            curiosity is the best teacher. That's why we select fun and
            interesting problems to keep you engaged. Considering the
            inconsistency of the math level of different people, we avoid
            problems that are too difficult or that require advanced knowledge.
            We try to explain them in an understandable way for anyone with
            middle school math knowledge. That said, these problems are not
            going to be easy. Thus, be prepared to take your time and make an
            effort.
          </p>
          <p class="m-text" style="text-indent: 25px">
            When you solve a problem, see whether you can brainstorm another
            solution. Look at your solution, ask yourself what strategy you use
            and think how you can apply these ideas further.
          </p>
          <p class="m-text" style="text-indent: 25px">
            Through our selected math problems, we hope to broaden your
            perspective, develop new methods, savor the thrill of critical
            thinking, unleash your creative potential, and push the boundaries
            of your mind. Laying a solid foundation in knowledge and problem
            solving skills will open the door to success in many subjects.
          </p>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui top attached segment">
          <div class="ui header">About Me</div>
        </div>
        <div class="ui bottom attached segment">
          <p class="m-text" style="text-indent: 25px">
            Zhibo Sheng, a high school student in Phoenix, math enthusiast,
            likes to tackle problems in different ways.
          </p>
        </div>
        <img src={% static 'images/IMG_8237.jpg' %} alt="" class="ui rounded image">
      </div>
    </div>
  </div>
</div>
{% endblock %}