{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MBMH8BXRL8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MBMH8BXRL8');
  </script>
  <title>{% block title %}{% endblock %}NoticeThat</title>
  <meta name="author" content="Zhibo Sheng">
  <meta name="description" content="Discover the beauty of math on our site with fun and interesting math problems.">
  <meta name="keywords" content="math, problem solving, algebra, geometry, learning, fun, interesting, math problems, math puzzles, math games, math challenges, math quizzes, math trivia, math facts, math history, math jokes, math riddles">
  <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{% block og-image %}http://{{ request.META.HTTP_HOST }}{% static 'images/NoticeThat.jpg' %}{% endblock %}">
  <meta property="og:title" content="{% block og-title %}NoticeThat{% endblock %}">
  <meta property="og:description" content="{% block og-description %}Discover the beauty of math on our site with fun and interesting math problems.{% endblock %}">
  <meta property="twitter:image" content="{% block tw-image %}http://{{ request.META.HTTP_HOST }}{% static 'images/NoticeThat_tw.jpg' %}{% endblock %}">
    
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
  <link rel="stylesheet" href={% static "css/my-custom-ui.css" %} >
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
  {% endblock%}

</head>
<body class="pushable">

    {% block layout %}{% endblock %}
    {% block scripts %}{% endblock %}

</body>
</html>
