{% extends 'layouts/1.html' %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="Contact | NoticeThat">
{% endblock %}

{% block title %}Contact -{% endblock %}

{% block content %}
<div class="ui vertical grid m-mtb-medium">
  <div class="ui container m-container">
    <div class="ui stackable grid">
      <div class="eight wide column">
        <div class="ui top attached segment">
          <div class="ui header">Contact Us</div>
        </div>
        <div class="ui bottom attached segment">
          <p class="m-text">Email: contact@notice-that.com</p>
          <p class="m-text">
            If you have a problem recommendation, please send it to our email.
            The problem should be moderately challenging but try to avoid
            advanced topics. Can't wait to see your interesting problems!
          </p>
          <a href="mailto:contact@notice-that.com" class="item"><i class="grey large envelope icon"></i></a>
        </div>
      </div>
      <div class="eight wide column">
        <img src={% static 'images/IMG_8239.jpg' %} alt="" class="ui rounded image">
      </div>
    </div>
  </div>
</div>
{% endblock %}