{% extends 'layouts/1.html' %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="NoticeThat">
{% endblock %}

{% block content %}
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <strong>Fun and Effective</strong> way to Learn Math
    </h1>
    <h3>Master your problem-solving skills--100% Free!</h3>
    <a class="ui huge m-primary button" href="{% url 'account_signup' %}">Get Started <i class="right arrow icon"></i> </a>
  </div>
</div>
  
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide floated column">
        <h3 class="ui header">Spur your interest</h3>
        <p>Curiosity is essential for innovation and creativity. That's why we select fun problems to maximize the effectiveness of learning while keeping you engaged.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/1.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Solving problems</h3>
        <p>Curiosity is essential for innovation and creativity. That's why we select the most iconic and fun problems to maximize the effectiveness of learning while keeping you engaged.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/2.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Share your ideas</h3>
        <p>Discussion helps broaden understanding and introduce new ways of thinking. You are welcomed to exchange your ideas with others here.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/3.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Enrich your knowledge</h3>
        <p>You’ll explore the unfamiliar and little-known aspect of mathematics, rediscover theorems and techniques like a mathematician. 
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/4.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Develop a new habit</h3>
        <p>Instead of spending too much time on social media, why not try some math problems. Immerse yourself in the ocean of mathematics, you'll see why math is the most beautiful subject.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/5.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge m-primary button" href="{% url 'account_signup' %}">Check Them Out</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
