{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="NoticeThat">
  <meta name="description" content="Discover the beauty of math on our site with fun and interesting math problems.">
{% endblock %}

{% block content %}
<!-- Nav Bar -->
<div class="ui inverted vertical center aligned segment m-padded-tb-mini" id="nav-bar">
  <div class="ui header container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item m-pd-mini">
        <i class="sidebar icon"></i>
      </a>
      <a class="item m-pd-mini" href="{% url 'problems:home' %}">
        <img class="ui small image" id="logo-img" src={% static 'images/logo.png' %}>
      </a>
      <a class="active item" href="{% url 'problems:home' %}"><i class="home icon"></i>Home</a>
      <a class="item" href="{% url 'problems:archives' %}"><i class="save icon"></i>Archives</a>
      {% if user.is_staff %}
        <a class="item" href="{% url 'problems:post_problem' %}"><i class="cloud upload icon"></i>Post Problem</a>
      {% endif %}
      {% if user.is_authenticated %}
        <a class="item" href="{% url 'profiles:profile' %}"><i class="user icon"></i>Profile</a>
      {% endif %}
      <div class="right item">
        {% if user.is_authenticated %}
          <a class="item" href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
          <a class="item" href="{% url 'accounts:login' %}">Login/Sign Up</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Page Contents -->
{% if user.is_authenticated %}
<div class="ui grid m-white m-padded-tb-big">
  <div class="ui container">
    <h1>Problems</h1>
    <div class="ui three column grid">
      {% for problem in problems reversed %}
      <div class="column">
        <a class="ui fluid card m-equal-height-card" href="{% url 'problems:problem_detail' problem.pk %}">
          <div class="m-content-wrapper">
            <div class="m-image-wrapper">
              <div class="image m-flex-image">
                {% if problem.image %}
                  <img src="{{ problem.image.url }}" class="ui rounded fluid image" onerror="this.onerror=null;this.src='{% static 'images/default_problem_image.png' %}';">
                {% else %}
                  <img src="{% static 'images/default_problem_image.png' %}" class="ui rounded fluid image">
                {% endif %}
              </div>
            </div>
            <div class="content m-padded">
              <div class="ui header">{{ problem.title }}</div>
              <div class="item">{{ problem.scheduled_post_at|date:"F j, Y" }}</div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>  


{% else %}    
  
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <strong>Fun and Effective</strong> way to Learn Math
    </h1>
    <h3>Master your problem-solving skills--100% Free!</h3>
    <a class="ui huge m-primary button" href="{% url 'accounts:register' %}">Get Started</a>
  </div>
</div>
  
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide floated column">
        <h3 class="ui header">Spur your interest</h3>
        <p>Curiosity is essential for innovation and creativity. That’s why we select fun problems to maximize the effectiveness of learning while keeping you engaged.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/1.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Solving problems</h3>
        <p>Curiosity is essential for innovation and creativity. That's why we select the most iconic and fun problems to maximize the effectiveness of learning while keeping you engaged.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/2.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Share your ideas</h3>
        <p>Discussion helps broaden understanding and introduce new ways of thinking. You are welcomed to exchange your ideas with others here.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/3.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Enrich your knowledge</h3>
        <p>You’ll explore the unfamiliar and little-known aspect of mathematics, rediscover theorems and techniques like a mathematician. 
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/4.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Develop a new habit</h3>
        <p>Instead of spending too much time on social media, why not try some math problems. Immerse yourself in the ocean of mathematics, you'll see why math is the most beautiful subject.
        </p>
      </div>
      <div class="six wide right floated column">
        <img src="/static/images/5.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge m-primary button" href="{% url 'accounts:register' %}">Check Them Out</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
