{% extends 'base.html' %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="Log in | NoticeThat">
  <style type="text/css">
    .grid .column {
      max-width: 600px;
    }
  </style>
{% endblock %}

{% block title %}Log In{% endblock %}

{% block content %}
{{ block.super }}
<!-- Page Contents -->
<div class="ui container">
  <div class="ui middle aligned centered grid m-padded-tb-big">
    <div class="column">
      <div class="ui large form">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          <div class="field">
            <label for="id_username">Username</label>
            <input type="text" name="username" id="id_username" required>
          </div>
          <div class="field">
            <label for="id_password">Password</label>
            <input type="password" name="password" id="id_password" required>
          </div>
          <button type="submit" class="ui m-primary button">Login</button>
        </form>
        <div class="ui container">
          <br>
        <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
        </div>
        {% if messages %}
          <div class="ui message">
            <ul>
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
  
{% endblock %}