{% extends 'layouts/1.html' %}

{% block head %}
  {{ block.super }}
  <meta name="title" content="Log in | NoticeThat">
  <style type="text/css">
    .grid .column {
      max-width: 600px;
    }
  </style>
{% endblock %}

{% block title %}Log In -{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui middle aligned centered grid m-padded-tb-medium">
    <div class="column">
      {% for message in messages %}
        <div class="ui message {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}

      <h2>Login</h2>
      {% if form.non_field_errors %}
        <div class="ui error message">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <form method="post" class="ui large form">
        {% csrf_token %}
        <!-- Username Field  -->
        <div class="field {% if form.username.errors %}error{% endif %}">
          <label for="{{ form.username.id_for_label }}">Username</label>
          {{ form.username }}
        </div>

        <!-- Password Field -->
        <div class="field {% if form.password.errors %}error{% endif %}">
          <label for="{{ form.password.id_for_label }}">Password</label>
          {{ form.password }}
        </div>
        
        <button type="submit" class="ui m-primary button">Login</button>
        <br>
        <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}