{% extends 'layouts/1.html' %}

{% block head %}
  {{ block.super }}
	<link rel="stylesheet" href="{% static 'wangeditor/editor/dist/css/style.css' %}">
	<style>
		#editor—wrapper, #solution-wrapper {
			border: 1px solid #ccc;
			z-index: 100; /* If you need */
		}
		#toolbar-container, #solution-toolbar-container { border-bottom: 1px solid #ccc; }
		#editor-container, #solution-editor-container { height: 500px; }
	</style>
{% endblock %}

{% block title %}Post{% endblock %}

{% block content %}
<div class="ui vertical grid m-padded-tb-medium">
  <div class="ui container">
    {% if messages %}
      <div class="ui message">
        <ul>
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="ui segment">
      <h2>Post Problem</h2>
      <form method="POST" class="ui form" action="{% url 'problems:post_problem' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="field">
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
          </div>
          <div class="field">
            <label for="{{ form.scheduled_post_at.id_for_label }}">Scheduled Post Time (optional)</label>
            {{ form.scheduled_post_at }}  <!-- DateTime field -->
          </div>
          <div class="field">
            <label for="{{ form.image.id_for_label }}">Image</label>
            {{ form.image }}
          </div>
          <div class="field">
            <label for="{{ form.content.id_for_label }}">Content</label>
            <div id="editor—wrapper">
              <div id="toolbar-container"><!-- toolbar --></div>
              <div id="editor-container" ><!-- editor --></div>
            </div>
          </div>
          <textarea id="editor-content" name="content" style="display:none;"></textarea>
          <div class="field">
            <label for="{{ form.solution.id_for_label }}">Solution (optional)</label>
            <div id="solution-wrapper">
                <div id="solution-toolbar-container"><!-- toolbar for solution --></div>
                <div id="solution-editor-container"><!-- editor for solution --></div>
            </div>
          </div>
          <textarea id="solution-content" name="solution" style="display:none;"></textarea>
          <div class="field">
            <label for="{{ form.solution_post_at.id_for_label }}">Solution Post Time (optional)</label>
            {{ form.solution_post_at }}
          </div>
          <div class="ui right aligned container">
            <a type="button" class="ui button" href={% url 'problems:home' %}>Back</a>
            <button type="submit" class="ui m-primary button" id="submit-btn">Post</button>
          </div>
      </form>
    </div>
  </div>
</div>


<script src="https://unpkg.com/i18next/dist/umd/i18next.min.js"></script>
<script src="{% static 'wangeditor/editor/dist/index.js' %}"></script>
<script src="{% static "mathjax/es5/tex-chtml.js" %}" id="MathJax-script" async></script>
<script src="{% static 'js/post.js' %}"></script>

{% endblock %}
