{% extends 'layouts/1.html' %}

{% block head %}
  {{ block.super }}
	<link rel="stylesheet" href="{% static 'wangeditor/editor/dist/css/style.css' %}">
	<style>
		#editor—wrapper, #solution-wrapper {
			border: 1px solid #ccc;
			z-index: 100; /* If you need */
		}
		#toolbar-container, #solution-toolbar-container { border-bottom: 1px solid #ccc; }
		#editor-container, #solution-editor-container { height: 500px; }
	</style>
{% endblock %}

{% block title %}Post -{% endblock %}

{% block content %}
<div class="ui vertical grid m-padded-tb-medium">
  <div class="ui container">
    <div class="ui segment">
      <h2>Post Problem</h2>
      {% if problem_form.non_field_errors or solution_form.non_field_errors %}
        <div class="ui error message">
          {{ problem_form.non_field_errors }}
          {{ solution_form.non_field_errors }}
        </div>
      {% endif %}
      
      <form method="POST" class="ui form {% if problem_form.errors or solution_form.errors %}error{% endif %}" action="{% url 'problems:post_problem' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="field {% if problem_form.title.errors %}error{% endif %}">
          <label for="{{ problem_form.title.id_for_label }}">Title</label>
          {{ problem_form.title }}
          {{ problem_form.title.errors }}
        </div>
        <div class="field {% if problem_form.scheduled_post_at.errors %}error{% endif %}">
          <label for="{{ problem_form.scheduled_post_at.id_for_label }}">Scheduled Post Time (optional)</label>
          {{ problem_form.scheduled_post_at }}
          {{ problem_form.scheduled_post_at.errors }}
        </div>
        <div class="field {% if problem_form.image.errors %}error{% endif %}">
          <label for="{{ problem_form.image.id_for_label }}">Image</label>
          {{ problem_form.image }}
          {{ problem_form.image.errors }}
        </div>
        <div class="field {% if problem_form.content.errors %}error{% endif %}">
          <label>Content</label>
          {% if problem_form.content.errors %}
            <div class="ui error message">
              {{ problem_form.content.errors }}
            </div>
          {% endif %}
          <div id="editor—wrapper">
              <div id="toolbar-container"><!-- toolbar --></div>
              <div id="editor-container"><!-- editor --></div>
          </div>
          <textarea id="editor-content" name="{{ problem_form.content.html_name }}" style="display:none;">{{ problem_form.content.value|default:'' }}</textarea>
        </div>
        <div class="ui divider"></div>
        <div class="field {% if solution_form.content.errors %}error{% endif %}">
          <label>Solution (optional)</label>
          {% if solution_form.content.errors %}
            <div class="ui error message">
              {{ solution_form.content.errors }}
            </div>
          {% endif %}
          <div id="solution-wrapper">
              <div id="solution-toolbar-container"><!-- toolbar for solution --></div>
              <div id="solution-editor-container"><!-- editor for solution --></div>
          </div>
          <textarea id="solution-content" name="{{ solution_form.content.html_name }}" style="display:none;">{{ solution_form.content.value|default:'' }}</textarea>
        </div>
        <div class="field {% if problem_form.solution_post_at.errors %}error{% endif %}">
          <label for="{{ problem_form.solution_post_at.id_for_label }}">Solution Post Time (optional)</label>
          {{ problem_form.solution_post_at }}
          {{ problem_form.solution_post_at.errors }}
        </div>
        <div class="ui right aligned container">
          <a type="button" class="ui button" href={% url 'problems:home' %}>Back</a>
          <button type="submit" class="ui m-primary button" id="submit-btn">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="https://unpkg.com/i18next/dist/umd/i18next.min.js"></script>
<script src="{% static 'wangeditor/editor/dist/index.js' %}"></script>
<script src="{% static "mathjax/es5/tex-chtml.js" %}" id="MathJax-script" async></script>
<script src="{% static 'js/post.js' %}"></script>

{% endblock %}
