{% extends 'layouts/1.html' %}

<meta name="title" content="{{ problem.title|safe }} | NoticeThat">
{% block title %}{{ problem.title }} -{% endblock %}
{% block og-title %}{{ problem.title|safe }}{% endblock %}
{% block og-description %}{{ problem.content|striptags|truncatechars:200 }}{% endblock %}
{% if problem.image %}
  {% block og-image %}{{ problem.image }}{% endblock %}
  {% block tw-image %}{{ problem.image }}{% endblock %}
{% endif %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'wangeditor/editor/dist/css/style.css' %}">
	<style>
		#editor—wrapper {
			border: 1px solid #ccc;
			z-index: 100; /* If you need */
		}
		#toolbar-container { border-bottom: 1px solid #ccc; }
		#editor-container { height: 300px; }
	</style>
  <script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
        },
        svg: {
            fontCache: 'global'
        }
    };
  </script>
{% endblock %}

{% block content %}
<div class="ui vertical grid m-padded-tb-medium">
  <div class="ui container">
    {% if problem.scheduled_post_at and problem.scheduled_post_at > now %}
      <div class="ui yellow message">
          This problem is scheduled to be posted on {{ problem.scheduled_post_at }}.
      </div>
    {% endif %}
    <div class="ui top attached segment" style="line-height: 0">
      <h2 class="m-mobile-title">{{ problem.title }}</h2>
      <div class="item">{{ problem.scheduled_post_at|date:"F j, Y" }}</div>
    </div>
    <div class="ui attached segment m-padded-lr-large" id="problem-img-segment">
      {% if problem.image %}
        <img src="{{ problem.image.url }}" class="ui rounded fluid image" onerror="this.onerror=null;this.src='{% static 'images/default_problem_image.png' %}';">
      {% else %}
        <img src="{% static 'images/default_problem_image.png' %}" class="ui rounded fluid image">
      {% endif %}
    </div>
    {% if problem.content|striptags %}
      <div class="ui attached segment m-padded-tb-medium m-padded-lr-big">
        <div class="m-medium-text" id="problem-content-segment">{{ problem.content|safe }}</div>
      </div>
    {% endif %}
    <div class="ui bottom attached segment m-padded-tb-medium m-padded-lr-big">
      {% if user.is_authenticated %}
        <form class="ui reply form {% if comment_form.content.errors %}error{% endif %}" method="post" id="comment-form" novalidate>
          {% csrf_token %}
          <div class="field {% if comment_form.content.errors %}error{% endif %}">
            <div id="editor—wrapper">
              <div id="toolbar-container"><!-- toolbar --></div>
              <div id="editor-container" ><!-- editor --></div>
            </div>
            <textarea id="editor-content" name="content" style="display:none;">{% if not comment_form.content.errors %}{{ comment_form.content.value|default:'' }}{% endif %}</textarea>
            {% for error in comment_form.content.errors %}
              <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="ui right aligned container">
            <button class="ui m-primary submit labeled icon button" type="submit">
              <i class="m-primary icon edit"></i> Send
            </button>
          </div>
        </form>
      {% else %}
        <div class="ui icon warning message">
          <div class="content m-padded-tb-tiny">
            <div class="header">Please log in to submit your response.</div>
            <p><a href="{% url 'account_login' %}">Log in</a> or <a href="{% url 'account_signup' %}">sign up</a> to participate in the discussion.</p>
          </div>
        </div>
      {% endif %}
      
      {% if user_has_commented or request.user.is_staff %}
        <h3 class="ui dividing header">Discussion ({{ total_comments }})</h3>
        <div class="ui comments m-w">
          {% if pinned_comment and show_solution %}
            {% with comment=pinned_comment comment_id_str=pinned_comment.id|stringformat:"s" is_pinned=True %}
              {% include "components/comment.html" %}
            {% endwith %}
          {% endif %}
          
          {% for comment in comments reversed %}
            {% with comment=comment comment_id_str=comment.id|stringformat:"s" is_pinned=False %}
              {% include "components/comment.html" %}
            {% endwith %}
          {% endfor %}
        </div>

      {% else %}
        <div class="ui icon info message">
					<div class="content m-padded-tb-tiny">
						<div class="header">
							Can't view the discussion?
            </div>
            You can enter the discussion after submitting your response.
          </div>
					<i class="icon help"></i>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/i18next/dist/umd/i18next.min.js"></script>
<script src="{% static 'wangeditor/editor/dist/index.js' %}"></script>
<script type="text/javascript" id="MathJax-script" defer src="{% static 'mathjax/es5/tex-svg.js' %}"></script>
{% if user.is_authenticated %}
  <script src="{% static 'js/comment_form.js' %}"></script>
  <script src="{% static 'js/comment.js' %}"></script>
{% endif %}
{% endblock %}