{% extends 'layouts/1.html' %}
 
{% block title %}{{profile.user.username }} -{% endblock %} 

{% block head %}
  {{ block.super }}
  <meta name="title" content="Profile | NoticeThat" />
{% endblock %}

{% block content%}
<div class="ui container m-padded-tb-medium">
  <h2>User Profile</h2>
  <div class="ui card">
    <div class="image">
      <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" onerror="this.onerror=null;this.src='{% static 'images/default_profile.png' %}';">
    </div>        
    <div class="content">
      <h3>{{ profile.user.username }}</h3>
      <p>{{ profile.user.email }}</p>
    </div>
    <div class="extra content">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
          <label for="profile_picture">Profile Picture</label>
          <input type="file" name="profile_picture" id="profile_picture" />
        </div>
        <br />
        <button type="submit" class="ui m-primary button">Update Profile Picture</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
