.pusher {
  margin: 0;
  display: flex; /* This makes the body a flex container */
  flex-direction: column; /* Sets the flex container to have a vertical column layout. */
  min-height: 100vh; /* Ensures that the body takes up at least the full height of the viewport. */
}
.hidden.menu {
  display: none;
}
.m-primary {
  color: #17d46b;
}
.m-text {
  font-size: large;
  font-weight: 400;
  line-height: 1.8;
}
.m-medium-text {
  display: block;
}
.m-medium-text p {
  font-family: Roboto, sans-serif;
  font-size: medium;
  /* Ensure paragraphs don't accidentally get overflow */
  overflow: visible;
}
.ui.comments .comment .content .m-medium-text {
  font-family: Roboto, sans-serif;
  font-size: medium;
  /* Ensure comment text doesn't accidentally get overflow */
  overflow: visible;
}
.m-medium-text::-webkit-scrollbar {
  display: none;
}
.m-medium-text::-webkit-scrollbar-track {
  display: none;
}
.m-medium-text::-webkit-scrollbar-thumb {
  display: none;
}
.m-medium-text::-webkit-scrollbar-thumb:hover {
  display: none;
}

/* === NEW STYLES for MathJax === */
mjx-container[display="true"] {
  display: block;
  overflow-x: auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #aaa #eee; /* Firefox */
}
mjx-container[display="true"]::-webkit-scrollbar {
  height: 8px;
}
mjx-container[display="true"]::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 4px;
  margin: 0 0 10px 0;
}
mjx-container[display="true"]::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
  border: 2px solid #eee;
}
mjx-container[display="true"]::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.m-padded-tb-tiny {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.m-padded-tb-mini {
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;
}
.m-padded-tb-small {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.m-padded-tb-medium {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
.m-padded-tb-big {
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}
.m-padded-tb-large {
  padding-top: 10em !important;
  padding-bottom: 10em !important;
}
.m-padded-lr-small {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.m-padded-lr-big {
  padding-left: 5em !important;
  padding-right: 5em !important;
}
.m-padded-lr-large {
  padding-left: 10em !important;
  padding-right: 10em !important;
}
.m-pd-mini {
  padding-bottom: 0.4em !important;
}
.m-end {
  align-self: end;
}
header .menu {
  border-radius: 0;
}
header .profile-link img {
  transition: transform 0.1s ease;
}
header .profile-link img:hover {
  transform: scale(1.1);
}
nav #logo {
  height: 30px;
  width: auto;
}
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.ui.m-bprimary.label,
.ui.red.labels .label {
  background-color: #17d46b !important;
  border-color: #17d46b !important;
  color: #fff !important;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.ui.sidebar #logo {
  height: 30px;
  width: auto;
}
.ui.sidebar {
  padding: 1rem;
}
.ui.sidebar .item {
  line-height: 2;
  font-size: 1.2rem;
}
.ui.vertical.segment.m-white {
  background-color: #fff;
}
.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}
footer .ui.list {
  margin: 0;
}
footer.footer.segment {
  margin-top: auto !important;
  padding: 3em 0em;
}
header.ui.inverted.menu {
  border-radius: 0;
}
header .ui.container .toc.item {
  padding: 1em;
  display: none;
}
header .ui.container .toc.item i.icon {
  margin: 0;
}
nav .secondary.menu .toc.item {
  display: none;
}
.ui.m-primary.button {
  color: #fff;
  background-color: #17d46b;
}
.ui.m-primary.button:hover {
  color: #fff;
  background-color: #13b45c;
}
button i.m-primary.icon {
  color: #fff;
  background-color: #17d46b !important;
}
button i.m-primary.icon:hover {
  color: #fff;
  background-color: #13b45c !important;
}
button .m-primary {
  color: #fff !important;
  background-color: #17d46b !important;
}
.ui.basic.m-primary.label {
  background: none !important;
  color: #17d46b !important;
  border-color: #17d46b;
}
strong {
  color: #17d46b;
}
.ui.container img {
  max-width: 100%;
  height: auto;
}
.m-cover-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.m-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-mobile-title {
  white-space: normal;
}
.m-w {
  max-width: none !important;
}
@media only screen and (max-width: 767.98px) {
  /* Prevent overflow in ui containers */
  .ui.ui.ui.container:not(.fluid) {
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
  }
  mjx-container[display="true"] {
    padding: 0 0.5em 10px 0;
  }
  mjx-container[display="true"]::-webkit-scrollbar-track {
    margin: 0 0.5em 10px 0;
  }
  #problem-img-segment {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }
  .m-padded-lr-big {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }
  /* Hide the secondary menu on mobile devices */
  header .secondary.inverted.menu .item,
  .secondary.inverted.menu .menu {
    display: none;
  }
  header .secondary.menu .toc.item {
    display: block;
  }
  .ui.vertical.segment .m-padded-lr-big {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  /* Masthead on home page*/
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .ui.vertical.stripe {
    padding: 5em 0em;
  }
}
